
.countdown {
  height: 3rem;
  display: flex;
  justify-content: center;
}

.countdown-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.countdown-amount {
  width: 4rem;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  text-align: center;
}

.countdown-period {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 10px;
}