.root {
  width: 100%;
  height: max-content;
}

.commonRoot {
  width: 1000px;
  padding: 0 2rem;
  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0;
  }

  .commonset {
    width: 100%;

    .header {
      width: 100%;
      display: flex;
      margin-bottom: 1rem;
      padding: 2rem 0;
      @media screen and (max-width: 768px) {
        padding: 0;
        display: block;
      }

      .item {
        flex-grow: 1;
        @media screen and (max-width: 768px) {
          margin: 1rem 0;
        }
      }
    }

    .content {
      width: 100%;
      overflow-x: auto;
      .table {
        width: 100%;
        @media screen and (max-width: 768px) {
          width: max-content;
        }
      }
    }
  }

  .commondetail {
    width: 100%;

    .header {
      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .countdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
      }
    }

    .content {
      width: 100%;
      margin: 1rem 0 0 0;
      @media screen and (max-width: 768px) {
      }
      .contentCard {
        flex-grow: 1;
        width: 100%;
        // padding: 1rem;
        @media screen and (max-width: 768px) {
          // padding: 0;
        }

        .answer {
          padding: 2rem;
          @media screen and (max-width: 768px) {
            padding: 0;
          }
        }

        .rank {
          width: 100%;
          overflow-x: auto;

          .rankItem {
            display: flex;
            justify-content: space-between;
            width: 100%;

            span {
            }
          }
        }

        .record {
        }
      }
    }
  }
}

.randomRoot {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0;
  }

  .enterButton {
    .icon {
    }
    .button {
      width: max-content;
      height: max-content;
      display: flex;
      align-items: center;
      padding: 1rem 2rem;
    }
  }

  .matchBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .matchCtn {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  .rotate {
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    animation: rotate 3s linear infinite;
  }

  .move {
    translate: all 2s linear;
  }

  @keyframes rotate {
    25% {
      transform: rotate(90deg) scale(0.75);
    }
    50% {
      transform: rotate(180deg) scale(1);
    }
    75% {
      transform: rotate(270deg) scale(1.25);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }

  @keyframes move {
  }

  .memberList {
    position: relative;
    .memberItem {
      position: absolute;
      border-radius: 50%;
      height: min-content;
      width: min-content;
      opacity: 0;
    }
  }
}

.standard {
}

.countdown {
  height: 3rem;
  display: flex;
  justify-content: center;
}

.countdown-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.countdown-amount {
  width: 4rem;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  text-align: center;
}

.countdown-period {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 10px;
}
