.hotrank {
  .item {
    .title {
      width: 10rem;
      font-size: 0.75rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-grow: 1;
      flex-shrink: 1;
      transition: all 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
        color: var(--colorPrimary);
      }
    }
  }
}
