.root {
  display: flex;
  height: 100%;
  width: 100%;
  @media screen and (max-width: 768px) {
    height: fit-content;
    flex-direction: column;
  }

  .left_top {
    width: 50%;
    min-width: 256px;
    resize: horizontal;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .right_bottom {
    width: 50%;
    min-width: 512px;
    @media screen and (max-width: 768px) {
      width: 100%;
      min-width: 0;
    }

    .ctn {
      height: 100%;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 768px) {
        height: fit-content;
        display: block;
      }
      .editor {
        height: 100px;
        flex-grow: 1;
        overflow: hidden;
        padding: 0;
        @media screen and (max-width: 768px) {
          height: 300px;
          padding: 0 1rem;
        }
      }
    }
  }
}

.resizeBar:hover {
  cursor: col-resize;
}

.leftFooter {
  user-select: none;
  div {
    display: flex;
    align-items: center;
  }
  div:hover {
    cursor: pointer;
  }
  svg {
    height: 1.5rem;
  }
  span {
    margin: 0 0.5rem;
  }
}
