.root {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  .left {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .right {
  }
}
