.root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 100vw;
  }
}

.login {
  width: 100%;
  @media screen and (max-width: 768px) {
  }

  .form {
    width: 28rem;
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0 2rem;
    }
  }
}

.register {
  width: 100%;
  height: 100%;
  overflow: auto;
  .form {
    width: 28rem;
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0 2rem;
    }
  }
}
